<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us</h2>
            <p>Have questions? Do you need help with a quote, or want to talk business? Awesome! Send us an email directly by clicking the email address below.</p>
            <p><a href="mailto:sendahandhm@gmail.com">sendahandhm@gmail.com</a></p>
            <br>
            <p>Follow us and show your support!</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="javascript:void(0);" onclick="alert('You need to create a Twitter account.');" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="alert('You need to create a Facebook page.');" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>